/*Personal Web Page Style Sheet */
body{
  background-color: #FFA2C3;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
}
.column {
  float: left;
  width: 50%;
}

.column3 {
  float: left;
  width: 33%;
}


a:visited{
  color: #BB728C;
  text-decoration: none;
}

a:link{
  color: #ff369b;
  text-decoration: none;
}
a:hover{
  color: #BF3566;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.aboutPic {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.workPics{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 30px;
}

.otherPics{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}

h2{
  text-align: center;
}

h1{
  text-align: center;
}

.backsplash{
  background-color:#fff;
}

.websiteHeader{
  width: 100%;
  background-color: #FFA2C3;
  text-align: center;
  padding: 0px;
}
